
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
}

header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}


.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    &:hover {
        color: #e29e3a;
        transition: color 0.2s;
        text-decoration: underline;
     }
}

.banner img {
    width: 100%;
    height: 500px;
}


main{
    margin-bottom: 60px;
}

.btn {
    padding: 10px 20px;
    background-color: #e50914;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.grid {
    padding: 20px;
}

.grid h2 {
    font-size: 24px;
    font-weight: bold;
   
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item {
    background-color: #242424;
    border: 1px rgb(0, 0, 0) solid;
    color: white;
    padding: 5px 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: #000 10px 4px 8px;
}

.grid-item img {
    width: 100%;
    height: 80%;
}

.grid-item p {
    margin-top: 5px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#page ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

#page ul li a {
    background-color: #242424;
    border: none;
    color: #fff;
    box-shadow:#000 10px 4px 8px;
    text-decoration: none;
    
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
    bottom: 0;
    width: 100%;
}

.item {
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content {
    border-radius: 10px;
}

#close {
    background-color: white !important;
    
}

.modal-header {
    background-color:#141414;
    border: none;
    color: white;
}

.modal-body {
    background-color:#242424;
}

.modal-body label {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.modal-body input[type="text"], input [type="password"] {
    box-shadow: #000 1px 4px 8px;
}

.modal-body button {
    background-color: #141414;
}

.modal-body a{
    margin-top: 10px;
}

